<h1>Event List</h1>
<table class="table table-striped">
  <thead>
    <td>name</td>
    <td>show</td>
    <td>attendee</td>
    <td>edit</td>
    <td>destroy</td>
  </thead>
  <% @events.each do |e| %>
      <tr>
        <td><%= e.name %>(<%= e.category.name %>)</td>
        <td><%= link_to 'show', event_path(e) %></td>
        <td><%= link_to 'attendees' , event_attendees_path(e) %></td>
        <td><%= link_to 'edit', edit_event_path(e) %></td>
        <td><%= link_to 'destroy', event_path(e) ,:method => :delete %></td>
      </tr>
  <% end %>
</table>
<%= link_to 'New Event', new_event_path , :class => 'btn btn-success'%>