<h1>Event List</h1>
<ul>
  <% @events.each do |e| %>
      <li>
        <%= e.name %>
        <%= link_to 'show', event_path(e) %>
        <%= link_to 'edit', edit_event_path(e) %>
        <%= link_to 'destroy', event_path(e) ,:method => :delete %>
      </li>
  <% end %>
</ul>

<%= link_to 'New Event', new_event_path %>